.item-details {
    display: flex;
    gap: 0 15px;
}

@media only screen and (max-width: 645px){
    .item-details {
        flex-wrap: wrap;
    }
}

.item-details div:first-child {
    width: 100%;
    flex-grow: 2;
}

.item-details div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-details div:not(:first-of-type) {
    width: 100px;
}

.add-item-btn {
    margin-top: 5px;
    padding: 0.8rem 2rem;
    margin-bottom: 50px;
    background-color: #10b981;
    border: 2px solid #10b981;
}

.add-item-btn:hover {
    color: #10b981;
}