.item-details {
    display: flex;
    gap: 0 15px;
    width: 100%;
    justify-content: center;
    
}

@media only screen and (max-width: 645px){
    .item-details {
        flex-wrap: wrap;
    }
}

.item-details div:first-child {
    flex-grow: 1;
}

.item-details div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-details div:not(:first-of-type) {
    width: 90px;
}
.item-details div:last-of-type {
    width: min-content;
}

.add-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 85px;
    padding: 0.8rem;
    background-color: #10b981;
    border: 2px solid #10b981;
}

.add-item-btn:hover {
    color: #10b981;
}

.add-item .add-item-btn {
    padding: 0.92rem 0.8rem;
    margin-bottom: 2px;
}
