@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');

body {
    background-color: #f1f1f1;
    color: #4f4f4f;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}

main {
    width: 210mm;
    /* height: 307mm; */
    /* margin: 1.25rem; */
    padding: 3rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

button {
    color: white;
    font-weight: bold;
    margin: 5px 0;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    transition: all;
    transition-duration: 300ms;
    user-select: none;
}

button:hover {
    background-color: transparent;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
    opacity: 0.6;
}

label {
    font-weight: 500;
    color: #777777;
}

input, select, textarea {
    font-family: inherit;
    background-color: #f1f1f17a;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #6a6a6a;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #9b9b9b;
}

@media only screen and (max-width: 650px) {
    main {
        padding: 0.5rem;
    }
}
@media only screen and (max-width: 750px) {
    main {
        padding: 2rem;
    }
}

@media print {
    main {
        width: 210mm;
        height: 307mm;
    }
}
