.contact-info {
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    margin: 20px 0;
}

.contact-info h4 {
    margin: 5px 0;
}

.contact-info ul {
    padding: 0;
}

.contact-info li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 5px 0.5rem;
}

.contact-info b {
    width: 100px;
}

.contact-info li:nth-child(2) {
    background-color: #f5f5f5;
    border-radius: 2px;
}