.contact-info {
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    margin: 20px 0;
}

.contact-info h4 {
    margin: 5px 0;
}

.contact-info ul {
    padding: 0;
}

.contact-info li {
    list-style: none;
}

.contact-info b {
    padding-right: 5px;
}