.edit-item .item-details div:first-child {
    flex-grow: 1;
}

.edit-item .item-details {
    align-items: center;
    width: auto;
    padding: 1rem 0;
}

.edit-item .add-item-btn {
    margin: 0;
    height: 47px;
    width: 85px;
}
