.template-form,
.form-vendor-details,
.form-client-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-invoice-details,
.address-ln-2,
.form-vendor-details div,
.form-client-details div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 20px;
}

.form-invoice-details div,
.address-ln-2 div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-vendor-details div div, 
.form-client-details div div {
    flex-direction: column;
    flex-grow: 1;
}

.template-form input,
.template-form select {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.template-form h3 {
    margin: 25px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.template-form .item-summary {
    margin-top: 0;
}

/* .delete-btn,
.edit-btn {
    width: 50px;
    padding: 0.5rem 0;
    margin: 0 5px;
} */

.item-summary .btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-left: 0;
    padding-right: 0;
}

.delete-btn,
.edit-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 0.5rem;
    gap: 0.5rem;
    font-weight: 400;
}

.delete-btn {
    background-color: #ed5e68;
    border: 2px solid #ed5e68;
}

.delete-btn:hover {
    color: #ed5e68 ;
}

.preview-btn,
.edit-btn {
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
}

.preview-btn:hover,
.edit-btn:hover {
    color: #3b82f6;
}