.template-form,
.form-vendor-details,
.form-client-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-invoice-details,
.address-ln-2,
.form-vendor-details div,
.form-client-details div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 20px;
}

.form-invoice-details div,
.address-ln-2 div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-vendor-details div div, 
.form-client-details div div {
    flex-direction: column;
    flex-grow: 1;
}

.template-form input,
.template-form select {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.template-form h3 {
    margin: 25px 0;
}

.preview-btn {
    margin: 5px 0;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
}

.preview-btn:hover {
    color: #3b82f6;
}