header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
header h1 {
    opacity: 0.4;
}

@media only screen and (min-width: 900px) {
    main {
        max-width: 780px;
        margin: 20px auto;
    }
}

.publish-btns {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.publish-btns li {
    list-style: none;
}

.print-btn,
.download-btn,
.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0.5rem 1.2rem;
    margin: 0 5px;
}

.print-btn {
    background-color: #10b981;
    border: 2px solid #10b981;
}

.print-btn:hover {
    color: #10b981;
}

.download-btn {
    
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
}

.download-btn:hover {
    color: #3b82f6;
}

.share-btn {
    
    background-color: #10b981;
    border: 2px solid #10b981;
}

.share-btn:hover {
    color: #10b981;
}

@media print {
    .print-btn {
        display: none;
    }
}