header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 900px) {
    main {
        max-width: 780px;
        margin: 20px auto;
    }
}

.publish-btns {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.publish-btns li {
    list-style: none;
}

.print-btn {
    margin: 0 5px;
    background-color: #f59e0b;
    border: 2px solid #f59e0b;
}

.print-btn:hover {
    color: #f59e0b;
}

.download-btn {
    margin: 0 5px;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
}

.download-btn:hover {
    color: #3b82f6;
}

.send-btn {
    margin: 0 5px;
    background-color: #10b981;
    border: 2px solid #10b981;
}

.send-btn:hover {
    color: #10b981;
}