header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 900px) {
    main {
        max-width: 780px;
        margin: 20px auto;
    }
}

.publish-btns {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.publish-btns li {
    list-style: none;
}