/* .invoice-totals-cont{
    display: flex;
    align-items: flex-start;
    justify-items: flex-end;
    flex-direction: column;
} */

/* .invoice-totals {
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    
} */

.invoice-totals ul {
    padding: 0;
    margin-bottom: 0;

}

.invoice-totals li {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: space-between;
    padding-right: 30px;
}

.invoice-totals div {
    width: 100%;
}

.invoice-totals p {
    display: flex;
    justify-content: space-between;
    background-color: #777f89;
    color: white;
    border-radius: 2px;
    padding: 20px 10px;
    padding-right: 30px;
    margin: 0 !important;
}

.invoice-totals li:nth-child(2) {
    background-color: #f5f5f5;
    border-radius: 2px;
}

.invoice-totals b {
    padding-right: 50px;
} 