.item-summary {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}

.item-summary .edit-items input {
    margin-bottom: 0;
}


/* PREVIEW COMPONENT */

.preview-item-summary {
    margin-top: 50px;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0 0 0 / 0.1)
}

.flex-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.preview-item-summary .header,
.form-item-summary .header {
    background-color: #f5f5f5;
    font-weight: 600;
}

.preview-item-summary .flex-table .first {
    width: 55%;
}

.preview-item-summary .flex-row,
.form-item-summary .flex-row {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

.preview-item-summary .row:nth-child(2),
.form-item-summary .row:nth-child(2) {
    padding-top: 1.2rem;
}


/* FORM COMPONENT */

.form-item-summary .flex-table .first {
    flex-grow: 1;
}

.flex-table div:not(.first) {
    width: 70px;
}

.form-item-summary .flex-table div:not(.first) {
    width: 90px;
}
.body .flex-table .flex-row:not(.first) {
    width: 90px;
}
.form-item-summary .flex-table div:last-of-type {
    margin-right: 90px;
}

.body {
    padding: 0.5rem;
    padding-right: 0;
    border-bottom: 1px solid rgba(0 0 0 / 0.1);
}

.body:last-of-type {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: fit-content !important;
}

.body .flex-table div:last-of-type {
    margin-right: 0;
}





@media only screen and (max-width: 680px) {

    .form-item-summary .flex-table div:not(.first) {
        width: 60px;
    }
}

@media only screen and (max-width: 850px) {

    .form-item-summary .flex-table div:not(.first) {
        width: 80px;
    }
}
