.item-summary {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    border-spacing: 0;
    table-layout: fixed;
    transition: all;
    transition-duration: 300ms;
    
}
.preview {
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0 0 0 / 0.1)
}

.preview .description {
    width: 450px;
}
.preview tbody td {
    padding: 10px 0;
}

.item-summary td {
    padding: 0.5rem;
}

.item-summary thead tr {
    background-color: #f5f5f5;
    font-weight: 600;
}

.item-summary tbody td {
    padding: 0 0.5rem;
}

.item-summary .edit-items input {
    margin-bottom: 0;
}

.item-summary .items td {
    border-bottom: 1px solid rgba(0 0 0 / 0.1);
}

.item-summary :nth-child(2) td {
    padding-top: 1.5rem;
}

.item-summary .col-1 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.col-2,
.col-3,
.col-4 {
    width: 100px;
}

.item-summary .col-5 {
    width: 65px;
}

@media only screen and (max-width: 850px){
    .col-2,
    .col-3,
    .col-4 {
        width: 80px;
    }
}
@media only screen and (max-width: 680px){
    .col-2,
    .col-3,
    .col-4 {
        width: 60px;
    }
}
