.notes {
    text-align: justify;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px 0;
}

.notes h4 {
    margin: 5px 0;
}

.notes p {
    margin-top: 20px;
}

.notes-cont {
    /* border: 1px solid rgba(0 0 0 / 0.1); */
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 20px;
    width: 350px;
}