.payment-details {
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    margin: 20px 0;
}

.payment-details h4 {
    margin: 5px 0;
}

.payment-details ul {
    padding: 0;
}

.payment-details li {
    list-style: none;
}