.flex-components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-components:nth-child(2),
.flex-components:nth-child(3) {
    align-items: flex-end;
}

.flex-components p {
    margin: 5px 0;
}

.invoice-preview {
    height: 307mm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.invoice-preview .table {
    margin-bottom: 50px;
}
